<div class="w-full">
    <nav class="bg-white shadow-lg">
        <div class="md:flex items-center justify-between py-2 px-8 md:px-12">
            <div class="flex justify-between items-center">
               <div class="text-2xl font-bold text-gray-800 md:text-3xl">
                    <a href="#">About us</a>
               </div>
                <div class="md:hidden">
                    <button type="button" class="block text-gray-800 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
                        <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                            <path class="hidden" d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z"/>
                            <path d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                        </svg>
                    </button>
                </div>
            </div>
           
        </div>
    </nav>
    <div class="flex bg-white" style="height:600px;">
        <div class="flex items-center text-center lg:text-left px-8 md:px-12 lg:w-1/2">
            <div>
                <p class="mt-2 text-sm text-gray-500 md:text-base"> Welcome to Vape-it Tunisian Ltd
                    We are one of the Tunisian's
                    Premium E-liquid Manufacturers
                    All of our e-liquids are mixed in an ISO7 cleanroom.
                    Our premium liquids in 10ml bottles are all
                    pre-steeped and ready to go.
                    We have fruit flavours, tobacco flavours, menthol and
                    mint flavours...
                    We cater for all vapers!
                    We have been trading online since 2011. We also have a
                    shop inside our
                    warehouse which stocks all of the
                    latest devices and tanks. Our experienced staff can direct
                    you to the right
                    path which suits your vaping style.
                    We wholesale our liquids so if you would like any information
                    on becoming a
                    Vape-it tunisan authorised
                    Reseller please contact us via telephone on 00216 94 546 118 or
                    email us at sales@vape-it.co.tn
                    A varied choice is very important, as everybody is different and
                    we recognise this. If you are not
                    sure which device is right for you or have any other questions,
                    please contact us for guidance - it's free!
                    Vape-it Tunisia Ltd is Tunisia based we are here to give friendly
                    and helpful advice to assist
                    you on your way to the vaping lifestyle.</p>
                <div class="flex justify-center lg:justify-start mt-6">
                    <a href="http://localhost:4200/contact" class="mx-4 px-4 py-3 bg-gray-300 text-gray-900 text-xs font-semibold rounded hover:bg-gray-400" (click)="goToContact()">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="hidden lg:block lg:w-1/2" style="clip-path:polygon(10% 0, 100% 0%, 100% 100%, 0 100%)">
            <div class="h-full object-cover" style="background-image: url(https://images.unsplash.com/photo-1524653736724-8490ee06859d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)">
                <div class="h-full bg-black opacity-25"></div>
            </div>
        </div>
    </div>
</div>
